<template>
	<f7-page class="activation-page">
	<div class="activation-page__logo">
		<img src="static/images/activation-logo.png"></div>
	<div class="activation-page__inner">
		<div class="list-block inputs-list"><ul>
		  <f7-list-item>
			<f7-label>Телефон <span class="validate-error" v-if="error"> - {{ errorMessage }}</span></f7-label>
			<div class="item-input">
			  <input type="number" id="phone-input" v-model="model.phone" required placeholder="9xxxxxxxxx" @keydown="inputKeyPress($event)">
			</div>
		  </f7-list-item>
			<f7-list-item v-if="step=='code'">
				<f7-label>Код</f7-label>
				<div class="item-input">
					<input type="number" v-model="model.activation_code" required @keydown="inputKeyPress($event)">
				</div>
			</f7-list-item>
		</ul></div>
		<div class="data-loading" v-if="loading">
			Загрузка данных...
		</div>
		<div class="activation-page__button">
			<f7-grid>
			  <f7-col v-if="step=='code'"><f7-button big fill color="orange" @click="activatePhone()">Еще раз</f7-button></f7-col>
			  <f7-col><f7-button big fill color="purple" @click="next()">Далее</f7-button></f7-col>
			</f7-grid>
		</div>
	</div>
	</f7-page>
</template>

<script>
    import {HttpError, request} from '../helpers/request'

export default {
    data() {
        return {
            model: {
                phone: '',
                activation_code: ''
            },
            step: 'phone',
            error: null,
			loading: false
        };
    },
    computed: {
        errorMessage() {
            switch(this.error) {
                case 'no_device':
                    return 'Неизвестный номер телефона';
                case 'invalid_code':
                    return 'Неверный код';
                default:
                    return this.error;

            }
        },
        clearPhone() {
            let phone = this.model.phone.replace(/[^\d]/g, '');
            if(phone.length == 11 && (phone.substr(0,1)=='8' || phone.substr(0,1)=='7'))
                return phone.substr(1);
            return phone;
        }
    },
	mounted() {
		setTimeout(function() {
            document.getElementById('phone-input').focus();
		}, 2000);
	},
    methods: {
        next() {
            switch(this.step) {
                case 'phone':
                    this.activatePhone();
                    break;
                case 'code':
                    this.confirmActivation();
                    break;
            }
        },
        inputKeyPress(e) {
            if(e.keyCode == 13 || e.keyCode == 9) {
                //e.preventDefault();
                this.next();
			}
		},
        async activatePhone() {
            this.error = null;
            this.loading = true;
            try {
                const body = {
                    phone: this.clearPhone
                };
                const resp = await request('partner-device/activate', null, {method: 'POST', body});
                if (resp instanceof HttpError) {
                    this.error = resp.errorMessage;
                    return;
                }
                if (resp.success) {
                    this.step = 'code';
                } else {
                    this.error = resp.error;
                }
            } finally {
                this.loading = false;
			}
        },
        async confirmActivation() {
            this.error = null;
            this.loading = true;
            try {
                const body = {
                    phone: this.clearPhone,
                    activation_code: this.model.activation_code
                };
                const resp = await request('partner-device/confirm-activation', null, {method: 'POST', body});
                if (resp instanceof HttpError) {
                    this.error = resp.errorMessage;
                    return;
                }
                if (resp.success) {
                    this.$store.commit('activate', {
                        token: resp.token,
						partnerName: resp.partnerName,
                    });
                } else {
                    this.error = resp.error;
                }
            } finally {
                this.loading = false;
            }
        }
    }
}
</script>