<template>
    <f7-page>
        <f7-navbar title="Возврат покупки" back-link="Отмена"></f7-navbar>
        <f7-list form class="list-block__summa" style="margin-top: 60px">
            <f7-list-item>
                <f7-label>Код покупки</f7-label>
                <f7-input type="text" v-model="model.code" required></f7-input>
            </f7-list-item>
        </f7-list>
        <p v-if="error" class="error-message">{{error}}</p>
        <div class="activation-page__button" v-if="!dataLoading">
            <f7-button fill color="purple" big @click="rollbackTransaction">ОК</f7-button>
        </div>
        <div class="data-loading" v-if="dataLoading">
            Загрузка данных...
        </div>
    </f7-page>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
export default {
    data() {
        return {
            model: {code: ''},
        };
    },
    computed: {
        ...mapState(['dataLoading']),
        ...mapGetters({
            error: 'rollbackErrorDescription'
        })
    },
    methods: {
        rollbackTransaction() {
            if(!this.model.code)
                return;
            this.$store.dispatch('rollbackTransaction', { code: this.model.code });
        }
    }
}
</script>
