<template>
    <f7-page>
        <f7-navbar title="Написать в техподдержку" back-link="Отмена"></f7-navbar>

        <f7-list form @submit="support_form($event)" class="list-block__summa" style="margin-top: 60px">
			<div class="list-block inputs-list">
				<ul>

				<f7-list-item :class="{ 'has-error' : this.error == 'phone' }">
				<f7-label >Информация для связи</f7-label>
					<f7-input type="text" placeholder="Телефон или e-mail" v-model="support.contacts" required></f7-input>
				</f7-list-item>

				<f7-list-item :class="{ 'has-error' : this.error == 'msg' }">
					<f7-label>Сообщение</f7-label>
					<f7-input type="textarea" v-model="support.message"  required></f7-input>
				</f7-list-item>

				</ul>
				<h2 style="text-align: center" v-if="this.step=='success'">Ваше сообщение отправлено в службу тех.поддержки</h2>
				<div class="activation-page__button">
					<f7-button fill color="purple" big v-on:click="sendSupport">Отправить</f7-button>
				</div>
			</div>
		</f7-list>
    </f7-page>
</template>
<script>
	import {request, HttpError} from "../helpers/request";

    export default {
        data() {
            return {
                step: '',
                error: null,
                agree: false,
                support: {
                    contacts: '',
                    message: '',
                },
            };
        },
        async created() {
        },
        methods:{
			async sendToSupport(support) {
				const data = {
					contact: support.contacts,
					message: support.message,
				};
				const resp = await request('customer/send-support', null, {method: 'POST', body: data});
				return resp;
			},
			async sendSupport(e){
                 e.preventDefault();
                var phone = this.support.contacts;
                if (!phone){
                    this.error = 'phone';
                } else if (!this.support.message){
                    this.error = 'msg';
                } else {
                    const resp = await this.sendToSupport(this.support);
                    this.error = null;
                    if (resp.success) {

                        this.step = 'success';
                        this.support.message = '';
                        this.support.contacts = '';
                    }

                }
            }
        }

    }
</script>