<template>
    <f7-page no-page-content class="page__home">
		<f7-page-content>
			<div class="page__home__title">
				<div>{{ partnerName }}</div>
			</div>
			<div class="header">
				<div><img src="static/images/card.png"></div>
			</div>
			<div class="page-content__home">
				<customer-info></customer-info>
				<create-transaction v-if="customerInfo && !transactionId"></create-transaction>
				<transaction-info v-if="customerInfo && transactionId"></transaction-info>
			</div>
		</f7-page-content>
    </f7-page>
</template>
<script>

import { mapState } from 'vuex';

export default {
    computed: {
        ...mapState(['customerInfo', 'transactionId', 'partnerName'])
    },
    components: {
        'customer-info': require('../components/customer-info'),
        'create-transaction': require('../components/create-transaction'),
        'transaction-info': require('../components/transaction-info'),
    }
};
</script>