<template>
    <div>
        <f7-list form class="list-block__summa">
            <f7-list-item>
                <f7-label>Сумма покупки</f7-label>
                <f7-input type="number" v-model="model.amount" required placeholder="0" id="transaction-amount-input" @keydown="inputKeyPress($event, true)"></f7-input>
            </f7-list-item>
            <f7-list-item v-if="canPayPerBonuses">
                <f7-label>Списать баллов</f7-label>
                <f7-input type="number" v-model="model.paid_by_bonuses" placeholder="0" @keydown="inputKeyPress($event, false)"></f7-input>
                <f7-button fill color="blue" small @click="model.paid_by_bonuses=customerInfo.balance">все</f7-button>
            </f7-list-item>
            <f7-list-item v-if="!customerInfo.is_active">
                <p class="color-green">Списание баллов невозможно, поскольку карта не активирована</p>
            </f7-list-item>
            <f7-list-item v-for="pe in availablePromoevents">
				<label class="label-checkbox item-content" style="align-items: flex-start;">
					<!-- Checked by default -->
					<input type="radio" :value="pe.id" v-model="model.promoevents" :checked="pe.is_default" :disabled="!pe.can_edit" @change="promoeventChecked(pe.id, $event.target.checked)">
					<div class="item-media">
					  <i class="icon icon-form-checkbox"></i>
					</div>
					<div class="item-inner" style="flex-wrap: wrap; margin-left: 0; padding-left: 0;">
					  <div class="item-title">{{ pe.name }}</div>
					  <div style="font-size: 12px;">{{ pe.description }}</div>
					</div>
				</label>
            </f7-list-item>
        </f7-list>
        <p v-if="error" class="error-message">{{error}}</p>
        <div class="activation-page__button" v-if="!dataLoading">
			<f7-grid>
				<f7-col>
					<f7-button fill color="orange" big @click="cancelCustomer">Отмена</f7-button>
				</f7-col>
				<f7-col>
					<f7-button fill color="purple" big @click="createTransaction">ОК</f7-button>
				</f7-col>
			</f7-grid>
		</div>
        <div class="data-loading" v-if="dataLoading">
            Загрузка данных...
        </div>
    </div>
</template>
<script>

import { mapState, mapGetters, mapMutations } from 'vuex';

export default {
    data() {
        return {
            model: {
                amount: '',
                paid_by_bonuses: '',
                promoevents: []
            },
            modelError: null,
        }
    },
    computed: {
        ...mapState(['customerInfo','dataLoading','availablePromoevents']),
        ...mapGetters(['transactionErrorDescription']),
        error() {
            return this.modelError || this.transactionErrorDescription;
        },
        canPayPerBonuses() {
            return this.customerInfo.is_active && this.customerInfo.balance > 0;
        }
    },
    mounted() {
		/*
		var pes = [];
		this.availablePromoevents.forEach(function(pe){
			if(pe.is_default)
				pes.push(pe.id);
		});
		this.model.promoevents = pes;
		*/
		var pes = this.availablePromoevents.filter(function(pe){
			return pe.is_default;
		});
		if(pes.length)
			this.model.promoevents = pes[0].id;
        setTimeout(function() {
            document.getElementById('transaction-amount-input').focus();
        }, 1000);
    },
    methods: {
	    ...mapMutations(['cancelCustomer']),
        inputKeyPress(e, isAmount) {
            if(e.keyCode == 13 || e.keyCode == 9) {
                if((!isAmount || !this.canPayPerBonuses) && !this.availablePromoevents.length)
                    this.createTransaction();
            }
        },
        promoeventChecked(id, checked) {
		/*
	        var index = this.model.promoevents.indexOf(id);
	        if(checked && index < 0)
	            this.model.promoevents.push(id);
	        if(!checked && index >= 0)
                this.model.promoevents.splice(index, 1);
				*/
        },
        createTransaction() {
            var amount = parseFloat(this.model.amount);
            if(isNaN(amount) || amount <= 0 || amount >= 1000000) {
                this.modelError = 'Укажите корректную сумму оплаты';
                return;
            }

            if(this.model.paid_by_bonuses !== '') {
                var bonus = parseFloat(this.model.paid_by_bonuses);
                if (isNaN(bonus) || bonus < 0) {
                    this.modelError = 'Укажите корректную сумму баллов к списанию';
                    return;
                }
                if(bonus > this.customerInfo.balance) {
                    this.modelError = 'Нельзя списать баллов больше, чем есть на карте';
                    return;
                }
            }

            this.modelError = null;
            this.$store.dispatch('createTransaction', this.model);
        }
    }
};
</script>