<template>
    <div>
        <div v-if="!customerInfo && !error && !dataLoading" style="height: calc(100vh - 78vw);">
            <div class="action-page" v-if="!manualMode">
				<f7-button fill color="blue" big @click="barcodeScan" class="action-page__barcode">
					<span class="icons"></span>
					<span>Сканировать код</span>
				</f7-button>
				<div v-show="barcodeSpinner" style="width: 100%; text-align: center; position: absolute; margin-top: -50px; left: 0">
					<f7-preloader color="red"></f7-preloader>
				</div>
				<div class="row">
					<div class="col-50">
						<f7-button fill color="darkblue" big @click="toManualMode" class="action-page__manual"><span class="icons"></span><span>Ввести код</span></f7-button>
					</div>
					<div class="col-50">
						<f7-button fill color="darkblue" big @click="toRollback" class="action-page__manual"><span class="icons"></span><span>Возврат</span></f7-button>
					</div>
				</div>
				<f7-button color="blue" big @click="$f7.views.main.router.load({url: '/support/'})" class="action-page__support"><span class="icons"></span><span>Служба поддержки</span></f7-button>
            </div>
			<div v-if="manualMode" style="background: #fff; padding-top: 10px;">
				<form class="list-block inputs-list"><ul>
					<f7-list-item>
						<f7-label>Код карты</f7-label>
						<f7-input type="number" id="card-code-input" v-model="model.code" @keydown="cardCodeKeydown($event)"></f7-input>
					</f7-list-item>
				</ul></form>
				<div class="activation-page__button">
					<f7-grid>
						<f7-col><f7-button fill color="purple" big @click="getCustomerInfo">OK</f7-button></f7-col>
						<f7-col><f7-button fill color="orange" big @click="manualMode=false">Отмена</f7-button></f7-col>
					</f7-grid>
				</div>
			</div>
        </div>
        <div v-if="customerInfo && !error" style="background: #fff; padding-top: 10px;">
			<div class="standart-list">
				<div class="standart-list-info">
					<div class="standart-list-info__label">Имя:</div><div class="standart-list-info__info" v-if="customerInfo.is_active">{{customerInfo.name}}</div><div class="standart-list-info__info" v-if="!customerInfo.is_active">карта не активирована</div>
				</div>
				<div class="standart-list-info">
					<div class="standart-list-info__label">Баланс:</div><div class="standart-list-info__info">{{customerInfo.balance}}</div>
				</div>
			</div>
        </div>
		<div v-if="!customerInfo && dataLoading"  style="height: calc(100vh - 130px); line-height: calc(100vh - 130px); text-align: center; ">
			<h1>Загрузка данных....</h1>
		</div>
        <div v-if="error">
            <h1 class="error-message">{{ error }}</h1>
			<div class="activation-page__button">
				<f7-grid>
					<f7-col>
						<f7-button fill color="purple" big @click="cancelCustomer">OK</f7-button>
					</f7-col>
				</f7-grid>
			</div>
        </div>
    </div>
</template>
<script>
import { mapState, mapGetters, mapMutations } from 'vuex';

export default {
    data() {
        return {
            model: {
                code: ''
            },
            manualMode: false,
			barcodeSpinner: false,
        };
    },
    computed: {
        ...mapState(['customerInfo', 'dataLoading']),
        ...mapGetters({
            error: 'customerErrorDescription'
        })
    },
    methods: {
        ...mapMutations(['cancelCustomer']),
		toManualMode() {
            this.manualMode = true;
            setTimeout(() => {
                document.getElementById('card-code-input').focus();
			}, 1000)
		},
        cardCodeKeydown(e) {
            if(e.keyCode == 13 || e.keyCode == 9) {
                this.getCustomerInfo();
            }
		},
        getCustomerInfo() {
            if(!this.model.code)
                return;
            this.$store.dispatch('getCustomerInfo', { code: this.getRealCardCode(), type: 'barcode' });
            this.model.code = '';
            this.manualMode = false;
        },
		getRealCardCode() {
            const code = this.model.code;
            if(code.length == 9)
                return 'e-' + code;
            if(code.substr(0, 3) == '196')
                return 'e-' + code.substr(3, 9);
            return code;
		},
        barcodeScan(){
            this.barcodeSpinner = true;
            setTimeout(() => {
                try {
                    const permError = 'Необходим доступ к камере';
                    var permissions = cordova.plugins.permissions;
                    permissions.requestPermission(permissions.CAMERA, status => {
                        if (!status.hasPermission) {
                            alert(permError);
                            return;
                        }
                        cordova.plugins.barcodeScanner.scan(result => {
                                if (!result.cancelled) {
                                    this.model.code = result.text;
                                    this.getCustomerInfo();
                                }
                            }, function (error) {
                                alert("Ошибка: " + error);
                            },
                            {
                                orientation : "portrait",
                                formats : "EAN_13"
                            }
                        );
                    }, () => alert(permError));
                } catch(e) {
                    alert(e);
				}
                this.barcodeSpinner = false;
			}, 500);
        },
        toRollback() {
            this.$f7.mainView.router.load({url: '/rollback/'});
		}
    }
};
</script>