<template>
    <div>
		<div class="standart-list standart-list__150 standart-list__transaction">
			<div class="standart-list-info">
				<div class="standart-list-info__label">
					Сумма покупки:
				</div>
				<div class="standart-list-info__info">
					{{ transactionInfo.payment_amount | money }}
				</div>
			</div>
			<div class="standart-list-info" v-if="transactionInfo.paid_by_bonuses > 0">
				<div class="standart-list-info__label">
					Оплачено баллами:
				</div>
				<div class="standart-list-info__info">
					{{ transactionInfo.paid_by_bonuses | money }}
				</div>
			</div>
			<div class="standart-list-info" v-if="transactionInfo.discount_amount > 0">
				<div class="standart-list-info__label">
					Скидка:
				</div>
				<div class="standart-list-info__info">
					{{ transactionInfo.discount_amount | money }}
				</div>
			</div>
			<div class="standart-list-info" v-if="transactionInfo.amount_for_pay != transactionInfo.payment_amount">
				<div class="standart-list-info__label">
					Итого к оплате:
				</div>
				<div class="standart-list-info__info standart-list-info__info__important">
					{{ transactionInfo.amount_for_pay | money }}
				</div>
			</div>
			<div class="standart-list-info">
				<div class="standart-list-info__label">
					Начиcлено бонусов:
				</div>
				<div class="standart-list-info__info">
					{{ transactionInfo.bonuses_gained | money }}
				</div>
			</div>
			<div class="standart-list-info">
				<div class="standart-list-info__label">
					Итого бонусов:
				</div>
				<div class="standart-list-info__info">
					{{ transactionInfo.total_bonuses | money }}
				</div>
			</div>
			<div class="standart-list-info"  style="font-size: 18px;">
				<div class="standart-list-info__label">
					Код операции:
				</div>
				<div class="standart-list-info__info">
					{{ transactionInfo.code }}
				</div>
			</div>
		</div>
		<p v-if="error" class="error-message">{{error}}</p>
		<div class="data-loading" v-if="dataLoading">
			Загрузка данных...
		</div>
		<div class="activation-page__button" v-if="!dataLoading">
			<f7-grid>
				<f7-col>
					<f7-button fill color="orange" big @click="cancelTransaction">Отмена</f7-button>
				</f7-col>
				<f7-col>
					<f7-button fill color="purple" big @click="commitTransaction">OK</f7-button>
				</f7-col>
			</f7-grid>
		</div>
    </div>
</template>
<script>
import { mapState, mapActions, mapMutations, mapGetters } from 'vuex';
export default {
    computed: {
        ...mapState(['transactionInfo','dataLoading']),
        ...mapGetters({
			error: 'transactionErrorDescription'
        }),
    },
    methods: {
        ...mapActions(['commitTransaction']),
        ...mapMutations(['cancelTransaction']),
    }
};
</script>