/* =========
Your custom styles go here
 ========= */
.panel {
	width: 90%;
}
.statusbar-overlay {
    background: #000000;
}
.list-block {
    margin: 0;
}
.list-block ul:before {
    display: none;
}
.list-block .item-content {
	padding: 0;
}
.list-block .item-inner {
	padding-left: 16px;
}
.list-block .accordion-item-expanded .accordion-item-toggle .item-inner:after, .list-block .accordion-item-expanded>.item-link .item-inner:after {
	background-color: rgba(0,0,0,1);
    background: #b3b3b3;
}
.list-block li:last-child .item-inner:after, .list-block li:last-child li:last-child .item-inner:after {
	display: block;
}
.content-block {
    margin: 0;
	padding: 0;
}
.accordion-item-content {
	background: #fff8ea;
	
}
.accordion-item-content .accordion-item-content {
	background: #fbeac8;
}

.validate-error {
    color: red;
    font-size: 12px;
}

.page__home {
	display: flex;
	flex-wrap: wrap;
	background: #2f1a1f;
}
.page__home__title {
	width: 100%;
	display: flex;
	align-items: center;
	height: 15vw;
	text-align: center;
	font-size: 24px; color: #fb6701;
	text-shadow: 0 4px 0 #1f1114;
}
.page__home__title div {
	width: 100%;
}
.header {
	width: 100%;
	height: 63vw;
	padding: 0 15px 10px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.header div {
	line-height: 0px;
}
.header img {
	width: 100%;
}
.page-content__home {
	width: 100%;
	height: calc(100vh - 78vw);
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.activation-page {
	background: #442868;
}
.activation-page__inner {
	background: #fff;
	margin: 0 10px 10px;
}
.activation-page__logo {
	text-align: center;
	margin: 30px 0 30px;
}
.activation-page__logo img {
	width: 70%;
}
.activation-page__gender .label-switch .checkbox {
    background: rgba(33,150,243,.5);
}
.activation-page__gender  .label-switch .checkbox:after {
    background: #2196f3;
}
.activation-page__button {
	padding: 20px 0;
	text-align: center;
}
.activation-page__button .button {
	margin: 0 auto;
	/*display: inline-block;*/
}

.action-page {
	height: 100%;
}
.action-page .button {
	height: 50%; font-size: 20px;
	display: flex; text-align: center;
	align-items: center;
	text-transform: none;
	
}
.action-page .button.action-page__barcode {
	height: 47%;
	margin-bottom: 3%;
	background: #5154d4!important;
	border-top: solid 20px #6160d2;
	border-bottom: solid 3px #6c6fed;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}
.action-page .button.action-page__manual {
	height: 29%;
	background: #2b348b!important;
	border-top: solid 20px #333d99;
	border-bottom: solid 3px #3540ab;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	margin-bottom: 1%;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
}
.action-page .button.action-page__support {
	height: 20%;
	justify-content: center;
	color: #5d618b!important;
}
.action-page .button span {
	width: 100%; text-align: center;
}
.action-page .button.action-page__support span {
	width: auto; text-align: left;
}
.action-page .button.action-page__barcode span.icons {
	background: url(/static/images/action-page__barcode.png) 50% 50% no-repeat;
	background-size: contain;
	width: 40px; height: 34px;
	margin: auto;
}
.action-page .button.action-page__manual span.icons {
	background: url(/static/images/action-page__manual.png) 50% 50% no-repeat;
	background-size: contain;
	width: 20px; height: 22px;
	margin: auto;
}
.action-page .button.action-page__support span.icons {
	background: url(/static/images/action-page__support.png) 50% 50% no-repeat;
	background-size: contain;
	width: 18px; height: 18px;
	margin: 0;
}

.standart-list {
	padding: 10px 0;
}
.standart-list__150 {
	
}
.standart-list-info {
	padding: 5px 15px;
	display: flex;
}
.standart-list-info__label {
	width: 100px;
	color: #8e8e93;
}
.standart-list__150 .standart-list-info__label {
	width: 150px;
}
.standart-list-info__info {

}

.standart-list-info__info__important {
	font-weight: bold;
	font-size: 1.2em;
}

.standart-list__transaction .standart-list-info__info {
	color: #fff;
}

.list-block__summa {
	background: #fff;
}
.list-block.list-block__summa .label {
	width: 50%;
}

.error-message {
	color: red;
	text-align: center;
}
.data-loading {
	text-align: center;
	font-size: 1.2em;
	margin-top: 5mm;
}