<template>
  <!-- App -->
  <div id="app">

    <!-- Statusbar -->
    <f7-statusbar></f7-statusbar>

    <!-- Main Views -->
    <f7-views>
      <f7-view id="main-view" main>
        <f7-pages>
          <transaction-page v-if="isActivated"></transaction-page>
		  <activate-page v-if="!isActivated">asdas</activate-page>
        </f7-pages>
      </f7-view>
    </f7-views>

    <f7-popup :opened="transactionSuccess">
      <table style="height: 100vh">
        <tr>
          <td style="text-align: center; vertical-align: middle">
            <h1>
              Операция выполнена успешно.
              <span v-if="transactionInfo">Код: {{transactionInfo.code}}</span>
            </h1>
            <f7-buttons color="orange">
              <f7-button round big @click="closeConfirmationDialog" style="font-size: 3em">OK</f7-button>
            </f7-buttons>
          </td>
        </tr>
      </table>
    </f7-popup>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex'
import config from './config'
export default {
    computed: {
        ...mapGetters(['isActivated']),
        ...mapState(['transactionSuccess', 'transactionInfo']),
    },
    components: {
        'activate-page': require('./pages/activate.vue'),
        'transaction-page': require('./pages/transaction.vue'),
    },
    methods: {
        ...mapMutations(['closeTransactionConfirmation']),
        closeConfirmationDialog() {
            this.closeTransactionConfirmation();
            this.$f7.mainView.router.back();
        }
    },
    mounted() {
        const $$ = window.Dom7;
        $$(document).on('focusin', 'input', function(e) {
            let $this = $$(e.target);
            let container = $$('.page-content');
            setTimeout(function() {
                container.scrollTo(0, $this.offset().top);
            }, 500);
        });
		
		$$.get('http://karta-go.ru/kartago-partner-version.php', function (data) {
			if(data !== config.appVersion){
			    alert('Необходимо обновление версии приложения');
				window.open('http://karta-go.ru/kartago-partner.apk', '_system');
			};
		},'text');
    }
}
</script>